﻿@model Multipass.Web.Models.Employee

@{
    ViewBag.Title = "EmployeeDetails";
}

<h2>Datasheet of one employee</h2>

@Html.ActionLink("Back to the list", "Index");

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.Id)</td>
        <td>@Html.DisplayFor(m => m.Id)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.FullName)</td>
        <td>@Html.DisplayFor(m => m.FullName)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Salary)</td>
        <td>@Html.DisplayFor(m => m.Salary)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Position)</td>
        <td>@Html.DisplayFor(m => m.Position)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.School)</td>
        <td>@Html.DisplayFor(m => m.School)</td>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Age)</td>
        <td>@Html.DisplayFor(m => m.Age)</td>
    </tr>
    </tr>
</table>