﻿@model Multipass.Web.Models.Employee

@{
    /**/

    ViewBag.Title = "EmployeesEdit";
}

<h2>EmployeeEdit</h2>

@using (Html.BeginForm("Edit", "Employees"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)
    @Html.Hidden("editAction", ViewData["editAction"].ToString());

    <div class="editor-label">@Html.LabelFor(m => m.FullName)</div>
    <div class="editor-field">@Html.EditorFor(m => m.FullName)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Position)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Position)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Salary)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Salary)</div>

    <div class="editor-label">@Html.LabelFor(m => m.School)</div>
    <div class="editor-field">@Html.EditorFor(m => m.School)</div>

    <input type="submit" value="SEND" />
}
