﻿@model Multipass.Web.Models.EmployeeViewModel

@{
    ViewBag.Title = "Crud Index";
}

<h2>EmployeeIndex</h2>


<p style="color:red">
    @TempData["editResult"]
</p>

@Html.Partial("EmployeesEdit", Model.EditedEmployee)

@Html.Partial("EmployeesList", Model.ListAllEmployees)