﻿@{
    ViewBag.Title = "API Test";
}

<h2>API test</h2>

<p id="message" style="color:red;font-weight:bold"></p>
<ul id="emps"></ul>
Employees ID:
<input type="text" id="empId" />
<br />
<button onclick="doList()">LIST</button>
<button onclick="doListNEW()">LIST NEW</button>
<button onclick="doAdd()">ADD</button>
<button onclick="doMod()">MOD</button>
<button onclick="doDel()">DEL</button>

@section scripts {
    <script language="javascript">
        var url = "http://localhost:51380/Api/EmployeeApi/";

        // XSS = Cross Site Scripting
        function htmlEncode(value) {
            return $('<div />').text(value).html();
        }

        function doList() {
            $.get(url + "all", null, function (data, status, jqxr) {
                alert("ALL: " + data);
            }, "html");
        }

        function doListNEW() {
            $("#emps").html("");
            $.getJSON(url + "all")
                .done(function (data) {
                    $.each(data, function (key, item) {
                        var html = "<li>#" +
                            htmlEncode(item.Id) + " " +
                            htmlEncode(item.FullName) + " " +
                            htmlEncode(item.Salary) + "  " +
                            htmlEncode(item.Position) + "  " +
                            htmlEncode(item.School) + "  " +
                            htmlEncode(item.Age) +" </li>";
                        $("#emps").append(html);
                    });
                });
        }

        function doAdd() {
            var newEmp = {
                "Id": "994", "FullName": "Kiss Janos", "Salary": "120000", "Position":"Takarito", "School" : "BME", "Age" : 33
            };
            $.post(url + "add", newEmp, function (data, status, jqxr) {
                $("#message").html("ADD: " + data.OperationResult);
                doListNEW();
            });
        }
        function doMod() {
            var newEmp = {
                "Id": $("#empId").val(), "FullName": "modifiedFullName"
            };
            $.post(url + "mod", newEmp, function (data, status, jqxr) {
                $("#message").html("MOD: " + data.OperationResult);
                doListNEW();
            });
        }
        function doDel() {
            $.get(url + "del/" + $("#empId").val(), null, function (data, status, jqxr) {
                $("#message").html("DEL: " + data.OperationResult);
                doListNEW();
            });
        }
    </script>
}